n8n-workflow.json
{
  "name": "Multi-Platform Note Search v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9e532c2e-32e7-40fc-bebb-e603c8cc1fa3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-416, 336],
      "webhookId": "search-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7934800e-1b96-4751-ba8e-4e1ad536af39",
      "name": "Extract Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-192, 336]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=fullText contains '{{ $json.query }}' and trashed = false"
            },
            {
              "name": "pageSize",
              "value": "250"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,modifiedTime,description)"
            }
          ]
        },
        "options": {}
      },
      "id": "b894705f-28f6-405b-9437-09f54de563dc",
      "name": "Google Drive Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [32, -32],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.trello.com/1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "key",
              "value": "YOUR_TRELLO_API_KEY"
            },
            {
              "name": "token",
              "value": "YOUR_TRELLO_TOKEN"
            },
            {
              "name": "modelTypes",
              "value": "cards"
            },
            {
              "name": "cards_limit",
              "value": "99"
            },
            {
              "name": "card_fields",
              "value": "name,desc,url,dateLastActivity,idList,idBoard"
            },
            {
              "name": "card_list",
              "value": "true"
            },
            {
              "name": "card_board",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6c7d5f3e-6bea-4d03-b81d-ee86c476e862",
      "name": "Trello Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [32, 144],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "b77c6a4c-8243-4de8-9bad-a2b92d63429a",
      "name": "Gmail Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [32, 336],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root/search(q='{{ encodeURIComponent($json.query) }}')",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "250"
            },
            {
              "name": "$select",
              "value": "id,name,webUrl,lastModifiedDateTime,file,folder"
            }
          ]
        },
        "options": {}
      },
      "id": "12621613-99df-4ace-a04f-47c6bf8aa363",
      "name": "OneDrive Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [32, 560],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_ONEDRIVE_CREDENTIAL_ID",
          "name": "OneDrive"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/users/me/calendarList",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {}
      },
      "id": "calendar-list-node",
      "name": "Get Calendar List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [32, 720],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract calendar IDs from the calendar list\nconst calendarList = $input.first().json;\nconst query = $('Extract Query').first().json.query;\n\nif (!calendarList.items || !Array.isArray(calendarList.items)) {\n  return [{ json: { calendars: [], query: query, error: 'No calendars found' } }];\n}\n\n// Return each calendar as a separate item for looping\nreturn calendarList.items.map(cal => ({\n  json: {\n    calendarId: cal.id,\n    calendarName: cal.summary || cal.id,\n    query: query\n  }\n}));"
      },
      "id": "extract-calendar-ids",
      "name": "Extract Calendar IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 720]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.calendarId) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "timeMin",
              "value": "={{ new Date(Date.now() - 365 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 365 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        },
        "options": {}
      },
      "id": "search-each-calendar",
      "name": "Search Each Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 720],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all calendar search results into a single item\nconst allResults = $input.all();\nconst allEvents = [];\n\nfor (const result of allResults) {\n  const data = result.json;\n  if (data.items && Array.isArray(data.items)) {\n    // Add calendar name to each event for context\n    for (const event of data.items) {\n      allEvents.push(event);\n    }\n  }\n}\n\nreturn [{ json: { items: allEvents } }];"
      },
      "id": "aggregate-calendar-results",
      "name": "Aggregate Calendar Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 720]
    },
    {
      "parameters": {
        "jsCode": "// Extract message IDs from Gmail search response\nconst messages = $input.first().json.messages || [];\n\nif (messages.length === 0) {\n  return [{ json: { messages: [], error: null } }];\n}\n\n// Return each message ID as a separate item for batch processing\nreturn messages.map(msg => ({\n  json: {\n    messageId: msg.id,\n    threadId: msg.threadId\n  }\n}));"
      },
      "id": "a5b32e4d-eb11-4446-bc4c-c5d7e17e7922",
      "name": "Extract Message IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 336]
    },
    {
      "parameters": {
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.messageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "full"
            },
            {
              "name": "fields",
              "value": "id,threadId,labelIds,snippet,internalDate,payload(headers,mimeType)"
            }
          ]
        },
        "options": {}
      },
      "id": "d74a4f2a-dcf6-4886-9529-efd30efd2ae0",
      "name": "Get Gmail Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 336],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all Gmail message details into a single item\nconst messages = $input.all().map(item => item.json);\nreturn [{ json: { gmailMessages: messages } }];"
      },
      "id": "d4ac53f8-1f0c-4662-9307-1eab729fa11f",
      "name": "Aggregate Gmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 336]
    },
    {
      "parameters": {
        "jsCode": "// Get original query from webhook\nconst webhookData = $('Extract Query').first().json;\nconst query = (webhookData.query || '').toLowerCase();\n\n// Helper function to calculate relevance score\nfunction calculateRelevance(title, snippet, query) {\n  if (!query) return 0;\n  \n  const titleLower = (title || '').toLowerCase();\n  const snippetLower = (snippet || '').toLowerCase();\n  const queryTerms = query.split(/\\s+/).filter(t => t.length > 0);\n  \n  let score = 0;\n  \n  // Exact title match\n  if (titleLower === query) score += 100;\n  \n  // Title contains exact query\n  if (titleLower.includes(query)) score += 50;\n  \n  // Title starts with query\n  if (titleLower.startsWith(query)) score += 30;\n  \n  // Count term matches in title (higher weight)\n  for (const term of queryTerms) {\n    if (titleLower.includes(term)) score += 20;\n  }\n  \n  // Snippet contains exact query\n  if (snippetLower.includes(query)) score += 15;\n  \n  // Count term matches in snippet\n  for (const term of queryTerms) {\n    if (snippetLower.includes(term)) score += 5;\n  }\n  \n  return score;\n}\n\nconst results = [];\nconst errors = [];\n\n// Process Google Drive results\ntry {\n  const driveData = $('Google Drive Search').first().json;\n  if (driveData.error) {\n    errors.push({ source: 'Google Drive', message: driveData.error.message || JSON.stringify(driveData.error) });\n  } else if (driveData.files && Array.isArray(driveData.files)) {\n    for (const file of driveData.files) {\n      results.push({\n        source: 'Google Drive',\n        title: file.name || 'Untitled',\n        snippet: file.description || `${(file.mimeType || 'file').split('/').pop()}`,\n        url: file.webViewLink || `https://drive.google.com/file/d/${file.id}`,\n        date: file.modifiedTime || new Date().toISOString(),\n        relevance: calculateRelevance(file.name, file.description, query),\n        metadata: {\n          fileType: file.mimeType,\n          fileId: file.id\n        }\n      });\n    }\n  }\n} catch (e) {\n  errors.push({ source: 'Google Drive', message: e.message });\n}\n\n// Process Trello results\ntry {\n  const trelloData = $('Trello Search').first().json;\n  if (trelloData.error) {\n    errors.push({ source: 'Trello', message: typeof trelloData.error === 'string' ? trelloData.error : JSON.stringify(trelloData.error) });\n  } else if (trelloData.cards && Array.isArray(trelloData.cards)) {\n    for (const card of trelloData.cards) {\n      results.push({\n        source: 'Trello',\n        title: card.name || 'Untitled Card',\n        snippet: card.desc ? card.desc.substring(0, 200) : 'No description',\n        url: card.url || card.shortUrl || '#',\n        date: card.dateLastActivity || new Date().toISOString(),\n        relevance: calculateRelevance(card.name, card.desc, query),\n        metadata: {\n          listName: card.list?.name,\n          boardName: card.board?.name,\n          cardId: card.id\n        }\n      });\n    }\n  }\n} catch (e) {\n  errors.push({ source: 'Trello', message: e.message });\n}\n\n// Process Gmail results\ntry {\n  const gmailData = $('Aggregate Gmail').first().json;\n  const messages = gmailData.gmailMessages || [];\n  \n  for (const msg of messages) {\n    // Skip if no message or if it's an error\n    if (!msg || msg.error || !msg.id) continue;\n    \n    // Try to get headers if they exist\n    const headers = msg.payload?.headers || [];\n    const getHeader = (name) => {\n      const header = headers.find(h => h.name?.toLowerCase() === name.toLowerCase());\n      return header?.value || '';\n    };\n    \n    // Get snippet directly from message (Gmail API provides this)\n    const snippet = msg.snippet || '';\n    \n    // Try to get subject from headers, fall back to first part of snippet\n    let subject = getHeader('Subject');\n    if (!subject && snippet) {\n      // Use first 50 chars of snippet as pseudo-subject\n      subject = snippet.substring(0, 50) + (snippet.length > 50 ? '...' : '');\n    }\n    subject = subject || '(No Subject)';\n    \n    // Get from header if available\n    const from = getHeader('From') || '';\n    \n    // Get date from header or internalDate\n    let date;\n    try {\n      const dateStr = getHeader('Date');\n      if (dateStr) {\n        date = new Date(dateStr).toISOString();\n      } else if (msg.internalDate) {\n        date = new Date(parseInt(msg.internalDate)).toISOString();\n      } else {\n        date = new Date().toISOString();\n      }\n    } catch {\n      date = new Date().toISOString();\n    }\n    \n    results.push({\n      source: 'Gmail',\n      title: subject,\n      snippet: snippet || 'No preview available',\n      url: `https://mail.google.com/mail/u/0/#inbox/${msg.id}`,\n      date: date,\n      relevance: calculateRelevance(subject, snippet, query),\n      metadata: {\n        from: from || 'Unknown',\n        messageId: msg.id,\n        threadId: msg.threadId,\n        labelIds: msg.labelIds || []\n      }\n    });\n  }\n} catch (e) {\n  errors.push({ source: 'Gmail', message: e.message });\n}\n\n// Process OneDrive results\ntry {\n  const onedriveData = $('OneDrive Search').first().json;\n  if (onedriveData.error) {\n    errors.push({ source: 'OneDrive', message: onedriveData.error.message || JSON.stringify(onedriveData.error) });\n  } else if (onedriveData.value && Array.isArray(onedriveData.value)) {\n    for (const file of onedriveData.value) {\n      results.push({\n        source: 'OneDrive',\n        title: file.name || 'Untitled',\n        snippet: file.file ? `File: ${(file.file.mimeType || 'unknown').split('/').pop()}` : 'Folder',\n        url: file.webUrl || '#',\n        date: file.lastModifiedDateTime || new Date().toISOString(),\n        relevance: calculateRelevance(file.name, '', query),\n        metadata: {\n          fileId: file.id,\n          isFolder: !!file.folder\n        }\n      });\n    }\n  }\n} catch (e) {\n  errors.push({ source: 'OneDrive', message: e.message });\n}\n\n// Process Google Calendar results (now from aggregated multi-calendar search)\ntry {\n  const calendarData = $('Aggregate Calendar Results').first().json;\n  if (calendarData.error) {\n    errors.push({ source: 'Google Calendar', message: calendarData.error });\n  } else if (calendarData.items && Array.isArray(calendarData.items)) {\n    for (const event of calendarData.items) {\n      const startTime = event.start?.dateTime || event.start?.date;\n      const endTime = event.end?.dateTime || event.end?.date;\n      \n      let snippetText = '';\n      if (event.description) {\n        snippetText = event.description.substring(0, 200);\n      } else if (startTime) {\n        try {\n          snippetText = new Date(startTime).toLocaleString();\n        } catch {\n          snippetText = startTime;\n        }\n      } else {\n        snippetText = 'No time set';\n      }\n      \n      results.push({\n        source: 'Google Calendar',\n        title: event.summary || '(No Title)',\n        snippet: snippetText,\n        url: event.htmlLink || '#',\n        date: startTime || event.created || new Date().toISOString(),\n        relevance: calculateRelevance(event.summary, event.description, query),\n        metadata: {\n          startTime: startTime,\n          endTime: endTime,\n          location: event.location,\n          eventId: event.id,\n          calendarId: event.organizer?.email\n        }\n      });\n    }\n  }\n} catch (e) {\n  errors.push({ source: 'Google Calendar', message: e.message });\n}\n\n// Sort by relevance (descending), then by date (newest first)\nresults.sort((a, b) => {\n  if (b.relevance !== a.relevance) {\n    return b.relevance - a.relevance;\n  }\n  try {\n    return new Date(b.date).getTime() - new Date(a.date).getTime();\n  } catch {\n    return 0;\n  }\n});\n\nreturn [{\n  json: {\n    success: true,\n    query: webhookData.query || '',\n    totalResults: results.length,\n    errors: errors,\n    hasErrors: errors.length > 0,\n    results: results\n  }\n}];"
      },
      "id": "0e202dca-84cf-4058-8182-d8bc82bba970",
      "name": "Transform Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 176]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "15956970-3eab-49cb-a7ea-14fb116b6c0e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1376, 176]
    },
    {
      "parameters": {
        "jsCode": "// Get data from all branches - these will only resolve once each node completes\nconst results = {\n  drive: $('Google Drive Search').all(),\n  trello: $('Trello Search').all(),\n  gmail: $('Aggregate Gmail').all(),\n  onedrive: $('OneDrive Search').all(),\n  calendar: $('Aggregate Calendar Results').all()\n};\n\n// Pass through as single item\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 192],
      "id": "f602df11-7496-4732-96db-e9e160397cd6",
      "name": "Make Sure All Nodes Ran",
      "retryOnFail": true,
      "executeOnce": false,
      "maxTries": 5,
      "waitBetweenTries": 500,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query": {
      "main": [
        [
          {
            "node": "Google Drive Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "OneDrive Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Calendar List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Search": {
      "main": [
        [
          {
            "node": "Make Sure All Nodes Ran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Search": {
      "main": [
        [
          {
            "node": "Make Sure All Nodes Ran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Search": {
      "main": [
        [
          {
            "node": "Extract Message IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message IDs": {
      "main": [
        [
          {
            "node": "Get Gmail Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail Details": {
      "main": [
        [
          {
            "node": "Aggregate Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Gmail": {
      "main": [
        [
          {
            "node": "Make Sure All Nodes Ran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive Search": {
      "main": [
        [
          {
            "node": "Make Sure All Nodes Ran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar List": {
      "main": [
        [
          {
            "node": "Extract Calendar IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Calendar IDs": {
      "main": [
        [
          {
            "node": "Search Each Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Each Calendar": {
      "main": [
        [
          {
            "node": "Aggregate Calendar Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Calendar Results": {
      "main": [
        [
          {
            "node": "Make Sure All Nodes Ran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Sure All Nodes Ran": {
      "main": [
        [
          {
            "node": "Transform Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1",
  "meta": {
    "instanceId": "b5a4f5f21f8b24c8f800084a68c3b6f80597cbeae1a7e95b1061ead4db35ad9b"
  },
  "id": "new-workflow",
  "tags": [
    {
      "name": "search"
    }
  ]
}
